# -- GPU / Whisper --
torch==2.1.2
torchaudio==2.1.2
faster-whisper==1.0.1

# -- Vidéo / Audio --
opencv-python-headless==4.9.0.80
moviepy==1.0.3
numpy==1.26.4
pydub
pysrt

# -- Backend RunPod --
runpod==1.6.1
requests
boto3

# -- Utilitaires --
tqdm
